@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes image_blur_in {
  0% {
    -webkit-filter: blur(5px);
    opacity: 0.2;
  }
  100% {
    -webkit-filter: blur(0px);
    opacity: 1;
  }
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ads {
  -webkit-animation: image_blur_in .5s;
}
